*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #0b0b0b;
  color: white;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
}
